:root {
  --ff: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --primary: #15223b;
  --secondary: #309dff;
  --black: #060f2f;
  /* generic */
  --nav-padding: 0.5rem 3rem;
  --nav-height: 75px;
  --section-block-p: 2rem;
  /* unique */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff);
  color: white;
}

/* generic styles */
html {
  scroll-padding-top: var(--nav-height);
}

body {
  background-color: var(--primary);
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

.nav {
  position: fixed;
  z-index: 2;
  /* top: calc(var(--nav-height) * -1); */
  background-color: var(--primary);
  top: 0;
  right: 0;
  left: 0;
  height: var(--nav-height);
}

a:any-link {
  color: var(--secondary);
}

section {
  padding-block: var(--section-block-p);
  height: 600px;
  padding-top: 3rem;
}

/* unique */
.nav-name {
  margin-right: auto;
  font-weight: 600;
  letter-spacing: 0.03rem;
}
.nav-name + ul {
  font-weight: 600;
  font-size: 1.1rem;
}
.nav-name + ul li a {
  text-decoration: none;
  color: white;
}
.nav-name + ul li {
  position: relative;
  cursor: pointer;
}
.nav-name + ul li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 100ms ease-in-out;
}
.nav-name + ul li:hover::after {
  transform: scaleX(1);
}

.hero-section {
  position: relative;
  z-index: 1;
  background-image: url("../img/bell-tower.jpg");
  /* override padding to make up for nav */
  padding-block: calc(2rem + var(--nav-height));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.section-header {
  font-weight: 700;
}

.sub-header {
  padding-top: 0.5rem;
  font-weight: 500;
  transition: opacity 200ms ease-in-out;
}
.low-opacity {
  opacity: 0.6;
}
.sub-header:has(a:hover) {
  opacity: 1;
}

.hero-arrow {
  width: 40px;
  aspect-ratio: 1/1;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(-90deg);
  animation: arrow-bob 1000ms ease-in-out infinite;
}

.hero-text {
  width: 50%;
  text-shadow: 1px 1px 75px darkblue;
  background-color: var(--secondary);
  opacity: 90%;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-right: 5%;
}

.hero-text h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.hero-text p {
  font-size: 2rem;
  font-weight: 500;
}
/* hard section */
.hard-section {
  position: relative;
}

.hard-section h3 {
  /* "Let me make it easy" */
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary);
  position: absolute;
  inset: 0;
  width: min-content;
  white-space: nowrap;
  height: min-content;
  margin: auto;
}

.marquee-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  height: min-content;
  width: 100%;
  inset: 0;
  margin: auto;
}

.marquee {
  width: min-content;
  line-height: 1;
  font-size: 6rem;
  color: var(--primary);
  opacity: 1;
  font-weight: 900;
  animation: infinite-text-scroll 15s linear infinite;
  letter-spacing: 0.1rem;
  mix-blend-mode: exclusion;
}
.marquee:nth-child(even) {
  animation: infinite-text-scroll-hidden 15s linear infinite 15s;
}
.backwards {
  animation-direction: reverse;
}

/* work-section */
.carousel-parent {
  width: 100%;
  max-width: 1600px;
  position: relative;
}

.carousel-container {
  gap: 125.5px;
  width: 1000px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1275px) {
  .carousel-container {
    width: 625.5px;
  }
}
@media screen and (max-width: 850px) {
  .carousel-container {
    width: 250px;
  }
}
.caro-item {
  flex-basis: 250px;
  height: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  transition: transform 800ms ease-in-out;
}
.caro-item img {
  width: 100%;
  height: 100%;
}
.caro-btn {
  width: 48px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: 5px solid var(--secondary);
  border-radius: 50%;
  transition: border-color 200ms ease-in-out;
}
.caro-btn svg {
  width: 100%;
  height: auto;
  fill: var(--secondary);
  transition: fill 200ms ease-in-out;
}
#right-btn {
  transform: rotate(180deg);
}

/* knowledge-section */
.flex-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 33%;
  height: 40px;
  max-width: 300px;
  min-width: min-content;
  background-color: white;
  color: var(--primary);
  border-radius: 5px;
  white-space: nowrap;
  padding-inline: 0.5rem;
  border: none;
}
.flex-item svg {
  width: 15px;
  height: auto;
}

.flex-dropbox {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem 0.25rem;
  font-size: 1.2rem;
  letter-spacing: -1%;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}
.open {
  opacity: 1;
  transform: translateY(0);
}

.flex-dropbox::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 34px;
  top: -12px;
  left: 5px;
  background-image: url("../img/drop-top-arrow.svg");
  background-repeat: no-repeat;
}
.flex-dropbox img {
  width: 32px;
  aspect-ratio: 1/1;
}
.flex-dropbox ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
  margin: 0;
}
.drop-text {
  color: var(--primary);
  font-weight: 600;
}

/* contact section */
.contact-section {
  padding-top: calc(180px + var(--section-block-p));
  padding-bottom: calc(var(--section-block-p) * 2);
  height: auto !important;
}
.oval {
  width: 150%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  top: -30%;
  left: -25%;
  right: 0;
  margin-inline: auto;
  background-color: var(--secondary);
}
.oval-offset {
  top: -25% !important;
  z-index: -1;
}
.secondary {
  background-color: var(--secondary);
}

.airplane-container {
  width: 128px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: -2%;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: grid;
  place-items: center;
}
.airplane-container img {
  width: 70%;
  height: auto;
}

.form-container {
  max-width: 400px;
}
.form-container input,
.form-container textarea {
  border: none;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  transition: all 100ms ease-in-out;
  color: var(--primary);
  font-weight: 500;
}
.form-container input:focus,
.form-container textarea:focus {
  outline: 2px solid var(--secondary);
  outline-offset: 2px;
}
.form-container input::placeholder,
.form-container textarea::placeholder {
  color: var(--primary);
  opacity: 0.7;
}
.form-container label {
  font-weight: 700;
}
.form-container button {
  position: relative;
  display: block;
  width: min-content;
  height: auto;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: var(--secondary);
  border: none;
  align-self: center;
  color: black;
  font-weight: 600;
  letter-spacing: 0.02rem;
  overflow: hidden;
  transition: color 75ms ease-in-out 300ms;
}
.form-container button::before {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  transform: translateX(-110%) skewX(-15deg);
  transition: transform 750ms ease-in-out;
}
.form-container button:hover {
  opacity: 0.9;
  color: white;
}
.form-container button:hover::before {
  transform: translateX(110%) skewX(-15deg);
}
.validation {
  display: inline;
  float: right;
  color: rgb(210, 62, 62);
  font-style: italic;
  padding: 0;
  margin: 0;
}

/* helpers */

@keyframes arrow-bob {
  from,
  to {
    transform: rotate(-90deg) translateX(0);
  }
  50% {
    transform: rotate(-90deg) translateX(5px);
  }
}

@keyframes infinite-text-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60%);
  }
}

@keyframes infinite-text-scroll-hidden {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-60%);
  }
}
